@model LandingPager.Models.ViewModels.LandingCompetitorViewModel


<h1>How about @Model.Competitor.Name?</h1>

<p>
    @Model.Competitor.Description
</p>

<section class="features">
    <div class="container text-center">

        <h4>Feature comparison (from RCL)</h4>
        <div class="row">
            <div class="col-md-4">
                <h6>@Model.Competitor.Name pros</h6>
                <ul>
                    @foreach (var pro in Model.Competitor.Features)
                    {
                        <li> @pro</li>
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <h6>@Model.Competitor.Name cons</h6>
                <ul>
                    @foreach (var con in Model.Competitor.Cons)
                    {
                        <li> @con</li>
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <h6>Our Features</h6>
                <ul>
                    @foreach (var feature in Model.Features)
                    {
                        <li><a asp-area="Landing" asp-page="/FeaturePage" asp-route-title="@feature.Name">@feature.Name</a></li>
                    }
                </ul>
            </div>

        </div>
    </div>
</section>
